<%- include("partials/header", {title: pokemon.name}) -%>
<%- include("partials/navbar") -%>
<!-- <h1 class="container-fluid text-center p-4"><%=pokemon.name%></h1>
<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.id %>.png" alt=""> -->
<div class="container-fluid">
  <div class="row align-items-md-stretch p-4">
      <div class="col-md-6">

        <div id="fc" class="my-3 p-3 bg-body-tertiary border rounded-3">
          <h2><%= pokemon.name[0].toUpperCase()+pokemon.name.slice(1) %></h2>
          <h5> <%= species.flavor_text_entries[0].flavor_text.replaceAll('',' ').replaceAll('POKéMON','pokemon') %> </h5>
          <h5>
            <% pokemon.types.forEach(function(pk) { %>
                <span class="badge text-bg-danger"><%= pk.type.name[0].toUpperCase()+pk.type.name.slice(1) %></span>
            <% }); %> 
          </h5>
        </div>

        <div class="my-3 p-3 bg-body-tertiary border rounded-3">
          <h2>Characteristics</h2>
          <h5> 
            <% pokemon.stats.forEach(function(pk) { %>
              <%= pk.stat.name[0].toUpperCase()+pk.stat.name.slice(1).replaceAll('-',' ') %>: <%= pk.base_stat %> <br>
          <% }); %> 
          </h5>
        </div>

        <div class="my-3 p-3 bg-body-tertiary border rounded-3">
          <h2>Moves</h2>
          <h5> 
            <% pokemon.stats.forEach(function(pk) { %>
              <%= pk.stat.name[0].toUpperCase()+pk.stat.name.slice(1).replaceAll('-',' ') %>: <%= pk.base_stat %> <br>
          <% }); %> 
          </h5>
        </div>

      </div>
      <div class=" h-100 col-md-6 text-center">
       <img class="pokeImg" src=<%= pokemon.sprites.other["official-artwork"].front_default %> alt="">
      </div>
    </div>
</div>
<%- include("partials/footer") -%>