<%- include("partials/header", {title: pokemon.name}) -%>
<%- include("partials/navbar") -%>
<div class="container-fluid">
  <div class="row align-items-md-stretch p-4">
      <div class="col-md-6 mx-auto">
        <div id="dd" class=" row my-3 p-3 border rounded-3">
          <div class="container">
            <form action="/search" method="post">
              <div class="col position-relative">
              <input type="submit" class="btn text-light position-absolute" name = "name" value = <% if(pokemon.id==1){%> 1008 <%}else{%> <%= pokemon.id-1 %> <%}%>></button>
              <input type="submit" class="btn text-light position-absolute top-0 end-0" name = "name" value = <% if(pokemon.id==1008){%> 1 <%}else{%> <%= pokemon.id+1 %> <%}%>></button>
              </div>
            
            </form>
          </div>
          <img class="pokeImg h-75" src=<%= pokemon.sprites.other["official-artwork"].front_default %> alt="image">
          <h2><%= pokemon.name[0].toUpperCase()+pokemon.name.slice(1) %></h2>
          <h5> <% let i = 0; while(species.flavor_text_entries[i].language.name != "en"){i++;} %> <%= species.flavor_text_entries[i].flavor_text.replaceAll('',' ').replaceAll('POKéMON','pokemon') %> </h5>
          <h5>
            <% pokemon.types.forEach(function(pk) { %>
                <span class="badge text-bg-danger"><%= pk.type.name[0].toUpperCase()+pk.type.name.slice(1) %></span>
            <% }); %> 
          </h5>
        </div>
      </div>
        <div class="col">
          <div id="dd" class=" row my-3 p-3 border rounded-3 d-flex aligns-items-center">
            <div class="row">
              <div id="CH" class="col text-center">
                <h3><%= pokemon.height/10 %> m</h3>
                <h5>Height</h5>
              </div>
              <div class="col text-center">
                <h3><%= pokemon.weight/10 %> Kg</h3>
                <h5>Weight</h5>
              </div>
          </div>
        </div>
  
          <div id="dd" class="row my-3 p-3 border rounded-3">
            <div class="col p-0">
              <h3 class="text-center">Stats</h3>
              <h5> 
                <% pokemon.stats.forEach(function(pk) { %>
                  <%= pk.stat.name[0].toUpperCase()+pk.stat.name.slice(1).replaceAll('-',' ') %>: <%= pk.base_stat %> <br>
              <% }); %> 
              Base XP: <%= pokemon.base_experience %>
              </h5>
            </div>
            <div class="col p-0 text-center">
              <h3>Abilities</h3>
              <h5>
                <% pokemon.abilities.forEach(function(pk) { %>
                  <%= pk.ability.name[0].toUpperCase()+pk.ability.name.slice(1).replaceAll('-',' ') %><br>
              <% }); %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div id="dm" class="p-3 w-100 container-fluid border text-center">
          <h3>Moves</h3>
          <div class="row">
            <% if(pokemon.moves.length < 10){%>
            <div class="col">
             <h5> 
            <% pokemon.moves.forEach(function(pk) { %>
              <%= pk.move.name[0].toUpperCase()+pk.move.name.slice(1).replaceAll('-',' ') %><br>
              <% }); %> 
            </h5>
          </div>
        <% }
        else{%>
          <div class="col text-center">
            <% for (let index = 0; index < Math.floor(pokemon.moves.length/2); index++) {%>
              <h5><%= pokemon.moves[index].move.name[0].toUpperCase()+pokemon.moves[index].move.name.slice(1).replaceAll('-',' ') %></h5>
            <%};%>
          </div>
          <div class="col text-center">
            <% for (let index = Math.ceil(pokemon.moves.length/2); index < pokemon.moves.length; index++) {%>
              <h5><%= pokemon.moves[index].move.name[0].toUpperCase()+pokemon.moves[index].move.name.slice(1).replaceAll('-',' ') %></h5>
            <%}};%>
          </div>
        </div>
      </div>




<%- include("partials/footer") -%>